*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
}

/* container styling */
.container {
  max-width: 1000px;
  margin: 0 auto;
}

/* header */
header {
  background-color: lightblue;
  padding: 1rem 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
}

nav .logo {
  font-size: 1.4rem;
  margin-left: 0;
}

/* files container styling */
.files {
  display: flex;
  flex-wrap: wrap;
}

.file {
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  font-size: 14px;
  background-color: rgb(36, 10, 59);
}

.file .file-img {
  width: 100%;
  height: auto;
}

/* form styling */
.form {
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.form__file {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.form__file + label {
  font-size: 1rem;
  padding: 1rem 1.5rem;
  font-weight: 700;
  color: white;
  background-color: lightblue;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.form__file:focus + label,
.form__file + label:hover {
  background-color: rgb(138, 204, 226);
}
