*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  background-color: rgb(19, 5, 31);
}

/* container styling */
.container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* files container styling */
.files {
  display: flex;
  flex-wrap: wrap;
}

.file {
  width: 25%;
  margin: 1rem;
  padding: 1rem;
  font-size: 14px;
  background-color: rgb(36, 10, 59);
}

.file .file-img {
  width: 100%;
  height: auto;
}
